html, body {
    height: 100%;
    margin: 0;
    font-family: 'Righteous', cursive;
    overflow: hidden;
}

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    flex-direction: column;
}

.title {
    position: relative;
    display: block;
    text-align: center;
    z-index: 2;
}

.title h1 {
    color: white;
    font-size: 5rem;
}

.intro {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 1vh;
    z-index: 2;
    width: 60%;
    border-radius: 50px;
    margin-top: -40px;
}

.intro h1 {
    font-size: 2rem;
    color: #fff;
}

#w-letter {
    text-shadow:
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff;
}

.intro h2 {
    font-size: 1.25rem;
    color: #fff;
}

.intro button {
    background-color: #FF6C11;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Righteous', cursive;
}

.intro p, a {
    color: #fff;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100vh;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF8927;
    width: 100%;
    height: 100vh;
    z-index: 1;
    opacity: 0.18;
}

@keyframes slideToTop {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes slideToTop {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
        display: none;
    }
}

@keyframes slideToBottom {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes slideToBottom {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
        display: none;
    }
}

#load-top {
    position: absolute;
    top: 0px;
    height: 50vh;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    animation-name: slideToTop;
    animation-duration: 1s;
    animation-delay: 0.8s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

#load-bottom {
    position: absolute;
    top: 50vh;
    height: 50vh;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    animation-name: slideToBottom;
    animation-duration: 1s;
    animation-delay: 0.8s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes expandWidth {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        width: 100%;
        left: 0;
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes expandWidth {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        width: 100%;
        left: 0;
        opacity: 0;
        display: none;
    }
}

#load-bar {
    position: absolute;
    top: 50vh;
    left: 40%;
    height: 2px;
    width: 20%;
    background-color: #FF8927;
    z-index: 1001;
    animation-name: expandWidth;
    animation-duration: 0.8s;
    animation-delay: 0s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

#switch-top {
    position: absolute;
    top: 0px;
    display: none;
    height: 50vh;
    width: 100%;
    background-color: #fff;
    transform: translateY(-100%);
    z-index: 1000;
}

#switch-bar {
    position: absolute;
    top: 50vh;
    display: none;
    height: 2px;
    width: 100%;
    background-color: #FF8927;
    z-index: 1001;
}

#switch-bottom {
    position: absolute;
    top: 50vh;
    display: none;
    height: 50vh;
    width: 100%;
    background-color: #fff;
    transform: translateY(100%);
    z-index: 1000;
}

#leaderboard-button {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    color: #000;
    font-size: 1rem;
    padding: 0.1vh 2vh;
    margin-bottom: 1vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
    cursor: pointer;
}

#leaderboard-button h2 {
    font-size: 1.25rem;
    color: #fff;
}

.leaderboard-popup {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.6);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
}

#leaderboard-table {
    width: 100%;
    font-size: 1.25rem;
    color: #FF8927;
}

#leaderboard-table caption {
    color: #3B72F3;
}

#leaderboard-table th {
    color: #3B72F3;
}

#leaderboard-table th, td {
    border-bottom: 1px solid #ddd;
}

/* The Close Button */
.close {
    color: #aaa;
    float: left;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: -5%;
    margin-left: 2%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}