html, body {
    height: 100%;
    font-family: 'Righteous', cursive;
    margin: 0;
}

body {
    background-image: url("../images/workbench.jpg");
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

.section {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.intro {
    text-align: center;
    background: rgba(255, 255, 255, 1);
    padding: 20px;
    margin: 15px;
    z-index: 2000;
    width: 60%;
    border-radius: 50px;
}

.intro h1 {
    font-size: 2.5rem;
    color: #3B72F3;
}

.intro button {
    background-color: #FF6C11;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Righteous', cursive;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

#fade-cover {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-delay: 0s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

#workbench {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    overflow: auto;
    padding-top: 10px;
    width: 100%;
    /* cursor: url("../images/gripper.png") pointer; */
}

.draggable {
    position: relative;
}

.bin p {
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-top: -40px;
}

.dropzone {
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    height: 280px;
    width: 250px;
    transition: background-color 0.3s;
}

.bin .dropzone {
    background-image: url('../images/bin.png');
    background-size: contain;
    background-repeat: no-repeat;  
}

.drop-target {
    -webkit-filter: drop-shadow(3px 3px 0 #fff)
                    drop-shadow(-3px 3px 0 #fff)
                    drop-shadow(3px -3px 0 #fff)
                    drop-shadow(-3px -3px 0 #fff);

    filter: drop-shadow(3px 3px 0 #fff) 
            drop-shadow(-3px 3px 0 #fff)
            drop-shadow(3px -3px 0 #fff)
            drop-shadow(-3px -3px 0 #fff);
}

.draggable {
    display: inline-block;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#navbar {
    /* background-color: black; */
    top: 0;
    padding: 30px;
    width: 100%;
}

#navbar button {
    position: absolute;
    top: 1%;
    left: 1%;
    background-color: #3B72F3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Righteous', cursive;
}

#timer-bar {
    position: relative;
    top: 0;
    left: 10%;
    height: 20px;
    width: 80%;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

#timer {
    position: absolute;
    margin-top: -60px;
    /* left: 45%; */
    color: rgb(255, 131, 55);
    font-size: 100px;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

/* Popup */
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    text-align:center;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#switch-top {
    position: absolute;
    top: 0px;
    display: none;
    height: 50vh;
    width: 100%;
    background-color: #fff;
    transform: translateY(-100%);
    z-index: 1000;
}

#switch-bar {
    position: absolute;
    top: 50vh;
    display: none;
    height: 2px;
    width: 100%;
    background-color: #FF8927;
    z-index: 1001;
}

#switch-bottom {
    position: absolute;
    top: 50vh;
    display: none;
    height: 50vh;
    width: 100%;
    background-color: #fff;
    transform: translateY(100%);
    z-index: 1000;
}