html, body {
    height: 100%;
}

body {
    background-color:#568eb9;
    background-image: linear-gradient(rgba(255,255,255,.3) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.3) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.2) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
    display: flex;
    margin: 0;
}

#workbench {
    background-image: url("../images/workbench.jpg");
    background-size: cover;
    flex: 1;
    overflow: auto;
    padding-top: 10px;
    /* cursor: url("../images/gripper.png") pointer; */
}

.draggable {
    position: relative;
}

.left-bin p, .middle-bin p, .right-bin p {
    color: #fff;
    font-size: 40px;
    text-align: center;
    text-shadow: -2px 0 rgb(0, 153, 255), 0 2px rgb(0, 153, 255), 2px 0 rgb(0, 153, 255), 0 -2px rgb(0, 153, 255);
    margin-top: -40px;
}

.dropzone {
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    height: 350px;
    width: 300px;
    transition: background-color 0.3s;
}

.bin .dropzone {
    background-image: url('../images/bin.png');
    background-size: contain;
    background-repeat: no-repeat;  
}

.left-bin .dropzone {
    background-image: url('../images/bin.png');
    background-size: contain;
    background-repeat: no-repeat;  
}

.middle-bin .dropzone {
    background-image: url('../images/bin.png');
    background-size: contain;
    background-repeat: no-repeat;  
}

.right-bin .dropzone {
    background-image: url('../images/bin.png');
    background-size: contain;
    background-repeat: no-repeat;  
}

.left-bin {
    height: 500px;
    width: 300px;
    float: left;
    clear: left;
    margin-top: -40px;
}

.middle-bin {
    height: 500px;
    width: 300px;
    margin: auto;
    margin-top: -40px;

}

.right-bin {
    height: 500px;
    width: 300px;
    float: right;
    clear: right;
    margin-top: -40px;
}

.drop-active {
    /* border-color: #aaa; */
}

.drop-target {
    /* background-color: #29e;
    border-color: #fff;
    border-style: solid; */
    -webkit-filter: drop-shadow(4px 4px 0 rgb(0, 153, 255))
                    drop-shadow(-4px 4px 0 rgb(0, 153, 255))
                    drop-shadow(4px -4px 0 rgb(0, 153, 255))
                    drop-shadow(-4px -4px 0 rgb(0, 153, 255));

    filter: drop-shadow(4px 4px 0 rgb(0, 153, 255)) 
            drop-shadow(-4px 4px 0 rgb(0, 153, 255))
            drop-shadow(4px -4px 0 rgb(0, 153, 255))
            drop-shadow(-4px -4px 0 rgb(0, 153, 255));
}

.draggable {
    display: inline-block;
    /* border: solid 2px #ffff00; */
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);

    /* -webkit-filter: drop-shadow(2px 2px 0 #ffff00)
                    drop-shadow(-2px 2px 0 #ffff00)
                    drop-shadow(2px -2px 0 #ffff00)
                    drop-shadow(-2px -2px 0 #ffff00);

    filter: drop-shadow(2px 2px 0 #ffff00) 
            drop-shadow(-2px 2px 0 #ffff00)
            drop-shadow(2px -2px 0 #ffff00)
            drop-shadow(-2px -2px 0 #ffff00); */
}

.draggable.can-drop {
    /* -webkit-filter: drop-shadow(2px 2px 0 #0000ff)
                    drop-shadow(-2px 2px 0 #0000ff)
                    drop-shadow(2px -2px 0 #0000ff)
                    drop-shadow(-2px -2px 0 #0000ff);

    filter: drop-shadow(2px 2px 0 #0000ff) 
            drop-shadow(-2px 2px 0 #0000ff)
            drop-shadow(2px -2px 0 #0000ff)
            drop-shadow(-2px -2px 0 #0000ff); */
}

.draggable.dropped {
    /* -webkit-filter: drop-shadow(2px 2px 0 #00ff00)
                    drop-shadow(-2px 2px 0 #00ff00)
                    drop-shadow(2px -2px 0 #00ff00)
                    drop-shadow(-2px -2px 0 #00ff00);

    filter: drop-shadow(2px 2px 0 #00ff00) 
            drop-shadow(-2px 2px 0 #00ff00)
            drop-shadow(2px -2px 0 #00ff00)
            drop-shadow(-2px -2px 0 #00ff00); */
}

#timer {
    position: fixed;
    float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	bottom: 0px;
	width: 100%;
    color: white;
    font-size: 100px;
    text-shadow: -2px 0 rgb(0, 153, 255), 0 2px rgb(0, 153, 255), 2px 0 rgb(0, 153, 255), 0 -2px rgb(0, 153, 255);
}

/* Popup */
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    text-align:center;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}