html, body {
    height: 100%;
}

body {
    background-color: #000;
    display: flex;
    margin: 0;
}

#workbench {
    background-image: url("../images/workbench.jpg");
    background-size: cover;
    flex: 1;
    overflow: auto;
}

#left-bin {
    height: 13vmax;
    width: 13vmax;
    float: left;
    clear: left;
}

#right-bin {
    height: 13vmax;
    width: 13vmax;
    float: right;
    clear: right;
}

.dropzone {
    background-color: #ccc;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.draggable {
    display: inline-block;
    border: solid 2px #ffff00;
    -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.draggable.can-drop {
    border-color: #0000ff;
}

.draggable.dropped {
    border-color: #00ff00;
}

#timer {
    color: white;
    font-size: 40px;
}